.TodoBox{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.inputBox{
    height: 2.5em;
    width: 70%;
    margin-bottom: 2%;
    border-radius: 10px;
}
.todoList{
    width: 100%;
}
.todo {
    padding: 0.5em;
}
.btn{
    border: solid 1px black;
    padding: 0.5em;
    border-radius: 10%;
    margin: 0.3em;
    background-color: rgb(239, 239, 249);
    text-decoration: none;
}
.btn:hover{
    background-color: lavender;
}
.formBtn{
    display: block;
    min-width : 73%;
    height: 2.5rem;
    border-radius: 10px;
}

.Signup, .Signin {
    min-width : 300px;
}